:root{
    --primary-color: rgb(139, 0, 0);
    --primary-color-hover: rgb(75, 0, 0);
    --primary-color-shadow: rgb(43, 0, 0);
    --secondary-color: rgb(255, 255, 255);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 25px; 
}

::-webkit-scrollbar-thumb:hover{
    background: var(--primary-color-hover); 
}

html{
    background: var(--secondary-color);
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width: calc(100vw*4);
    height: 100%;
    font-family: Helvetica;
}

body{
    margin: 0;

}

ul{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 30px;
    margin: 10px 0;
}

li{
    margin-bottom: 5px;
}

li ul{
    padding-top: 0px;
}

.simpleShadow{
    text-shadow: 1px 2px 0px rgba(0,0,0,1);
}

.section{
    height: calc(100vh - 51px);
    width: calc(100vw - 60px);
    overflow: auto;
    margin: 0 30px;
    margin-top: 51px;
    float: left;
}

.secHeader{
    text-align: center;
    margin: 40px 0;
    font-size: 100px;
    color: var(--primary-color);
    /*padding-bottom: 2px;
    border-bottom: 5px solid var(--primary-color);*/
}

.secContent{
    width: calc(100vw - 200px);
    min-width: 500px;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 15px;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1px;
    text-align: center;
    box-shadow: 3px 6px 8px var(--primary-color-shadow);
    border: solid 5px var(--primary-color-hover);
}

.secContHeader{
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    color: var(--secondary-color);
}

.projPac{
    margin: 10px;
}

.pacHalf{
    float: left;
    width: calc(50% - 20px);
}

.pacImg{
    border-radius: 15px;
    width: 100%;
    height: auto;
    max-width: 640px;
    max-height: 360px;
}

.imgPanel{
    margin: 10px;
    display: inline-block;
}

.imgDull{
    filter: brightness(95%);
}

.pacBtn{
    font-weight: bold;
    display: inline-block;
    padding: 10px 0px;
    border-radius: 10px;
    text-align: center;
    background: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    box-shadow: 2px 2px 8px var(--primary-color-shadow);
}

.btnHalf{
    width: calc(50% - 4px);
    max-width: calc(640px / 2);
}

.btnFull{
    width: calc(100% - 4px);
    max-width: calc(640px);
}

.pacBtn:hover{
    color: var(--secondary-color);
    background: var(--primary-color-hover);
}

.techImg{
    margin-top: 5px;
    font-size: 80px;
    display: inline-block;
}

.techPanel{
    display: inline-block;
}

.descrHeader{
    padding-left: 15px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    border-bottom: 2px solid var(--secondary-color);
}

.descrPanel{
    border: solid 2px var(--secondary-color);
    border-radius: 15px;
    margin: 0px 20px;
    margin-bottom: 10px;
    text-align: left;
}

.descrFull{
    width: calc(100% - 4px);
    max-width: calc(640px);
    margin: 0px auto;
}

#navBar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: var(--primary-color);
    border-bottom: var(--secondary-color) 1px solid;
}

.linkWrap{
    margin: 15px 0px;
}

.navLink{
    font-size: 20px;
    margin: 0 20px;
    color: var(--secondary-color);
}

.navLink:hover{
    border-bottom: 1px solid var(--secondary-color);
}

.navSelected{
    border-bottom: 1px solid var(--secondary-color);
}

.sideBtn{
    height: calc(100% - 50px);
    width: 30px;
    background: none;
    color: var(--primary-color);
    font-size: 60px;
    padding: 0px;
    border: none;
    outline: none;
}

#leftBtn{
    position: fixed;
    top: 50px;
    left: 0px;
}

#rightBtn{
    position: fixed;
    top: 50px;
    right: 0px;
}

#name{
    font-size: 100px;
    margin: 0 auto;
    margin-top: calc(100vh*.2);
    text-align: center;
}

#title{
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
    font-size: 50px;
    text-align: center;
}

#colorSwap{
    font-size: 25px;
    color: var(--primary-color);
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
    font-weight: bold;
    margin-top: 100px;
    width: 280px;
    min-width: 0px;
}

.colorIcon{
    margin: 5px;
    width: calc(70px - 10px - 2px - 10px);
    height: calc(70px - 10px - 2px - 10px);
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

#orange{
    background-color: rgb(204, 82, 0);
}

#brown{
    background-color: rgb(147, 108, 57);
}

#red{
    background-color: rgb(140, 0, 0);
}

#green{
    background-color: rgb(30, 123, 30);
}

#blue{
    background-color: rgb(57, 106, 147);
}

#black{
    background-color: rgb(38, 38, 38);
}

#purple{
    background-color: rgb(72, 21, 123);
}

#teal{
    background-color: rgb(0, 204, 163);
}

#seal{
    width: auto;
    height: auto;
    max-height: 92px;
    margin-right: 10px;
}

#banner{
    width: auto;
    height: auto;
    max-height:92px;
}

#chicoImgs{
    background: var(--secondary-color);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: left;
}

#chicoTitle{
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

#chicoEnd{
    font-size: 25px;
    text-align: left;
    color: lightgrey;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.contactLinks{
    color: var(--secondary-color);
}

.contact{
    font-size: 35px;
}

@media screen and (max-width: 1000px){
    ::-webkit-scrollbar{
        width: 5px;
    }

    #name{
        font-size: 70px;
    }

    #title{
        font-size: 30px;
    }

    .secHeader{
        font-size: 70px;
    }

    .secContHeader{
        font-size: 40px;
    }

    .projPac{
        margin-bottom: 20px;
    }

    .pacHalf{
        width: auto;
        float: none;
    }

    .techImg{
        font-size: 80px;
    }

    .descrPanel{
        width: calc(100% - 4px);
        max-width: calc(640px);
        margin: 0px auto;
    }

    #seal{
        max-height: 80px;
    }

    #banner{
        max-height: 80px;
    }

    #chicoTitle{
        font-size: 35px;
    }

    #chicoEnd{
        font-size: 15px;
    }
}

@media screen and (max-width: 900px){
    .techImg{
        font-size: 70px;
    }

    .descrPanel{
        width: auto;
        max-width: none;
        margin: 0px 20px;
        margin-bottom: 10px;
    }

    .descrFull{
        width: auto;
        max-width: none;
        margin: 0px 20px;
        margin-bottom: 10px;
    }

    #seal{
        max-height: 60px;
    }

    #banner{
        max-height:60px;
    }

    #chicoTitle{
        font-size: 27px;
    }

    #chicoEnd{
        font-size: 12px;
    }

    .contact{
        font-size: 30px;
    }
}

@media screen and (max-width: 600px){
    ::-webkit-scrollbar{
        width: 0px;
    }

    #name{
        font-size: 50px;
    }

    #title{
        font-size: 25px;
    }

    .secHeader{
        font-size: 50px;
    }

    .secContent{
        width: calc(100vw - 100px);
        min-width: 0;
        margin: 20px auto;
    }

    .secContHeader{
        font-size: 30px; 
        margin-bottom: 0px;
    }

    .projPac{
        margin: 10px;
        margin-bottom: 20px;
    }

    .techImg{
        font-size: 50px;
    }

    .navLink{
        font-size: 20px;
        margin: 0 10px;
    }

    #colorSwap{
        font-size: 15px;
        width: 200px;
    }

    .colorIcon{
        width: calc(50px - 10px - 2px - 5px);
        height: calc(50px - 10px - 2px - 5px);
    }

    .linkWrap{
        text-align: center;
    }

    #chicoImgs{
        margin: 5px;
        padding: 10px;
        margin-bottom: 0px;
        text-align: left;
    }


    #seal{
        max-height: 45px;
    }

    #banner{
        max-height: 45px;
    }

    #chicoTitle{
        font-size: 20px;
    }

    #chicoEnd{
        font-size: 10px;
    }

    .contact{
        font-size: 25px;
    }
}

@media screen and (max-width: 500px){
    .secContHeader{
        font-size: 20px; 
        margin-bottom: 0px;
    }

    .navLink{
        font-size: 18px;
        margin: 0 5px;
        color: var(--secondary-color);
    }

    #seal{
        max-height: 35px;
    }

    #banner{
        max-height: 35px;
    }

    #chicoTitle{
        font-size: 15px;
    }

    #chicoEnd{
        font-size: 8px;
    }

    .contact{
        font-size: 20px;
    }
}

@media screen and (max-width: 450px){
    #seal{
        max-height: 30px;
    }

    #banner{
        max-height: 30px;
    }
}

@media screen and (max-width: 380px){
    #name{
        margin-top: calc(100vh * .1);
    }

    #title{
        width: 220px;
        padding: 5px;
    }

    .secHeader{
        margin: 20px;
        font-size: 45px;
    }

    #seal{
        max-height: 20px;
    }

    #banner{
        max-height: 20px;
    }

    .contact{
        font-size: 15px;
    }
}
