:root{
    --primary-color: rgb(139, 0, 0);
    --primary-color-hover: rgb(75, 0, 0);
    --primary-color-shadow: rgb(43, 0, 0);
    --secondary-color: rgb(255, 255, 255);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 25px; 
}

::-webkit-scrollbar-thumb:hover{
    background: var(--primary-color-hover); 
}

html{
    background: var(--secondary-color);
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width: calc(100vw*3);
    height: 100%;
    font-family: Helvetica;
}

body{
    margin: 0;

}

.simpleShadow{
    text-shadow: 1px 2px 0px rgba(0,0,0,1);
}

.section{
    height: calc(100vh - 51px);
    width: calc(100vw - 60px);
    overflow: auto;
    margin: 0 30px;
    margin-top: 40px;
    float: left;
}

.sectionHeader{
    text-align: center;
    margin: 40px 0;
    font-size: 100px;
    color: var(--primary-color);
}

.secContent{
    width: calc(100vw - 200px);
    min-width: 500px;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1px;
    text-align: center;
    box-shadow: 3px 6px 8px var(--primary-color-shadow);
}

.secContentHeader{
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    color: var(--secondary-color);
}

.pacHalf{
    float: left;
    width: calc(50% - 20px);
    margin: 10px;
}

.pacFull{
    margin: 0 auto;
    margin-top: 15px;
    width: calc(100%);
}

.pacImg{
    border-radius: 15px;
    width: 100%;
    height: auto;
    max-width: 640px;
    max-height: 360px;
}

.imgPanel{
    margin: 20px;
}

.imgDull{
    filter: brightness(95%);
}

.pacBtn{
    font-weight: bold;
    display: inline-block;
    padding: 10px 0px;
    border-radius: 10px;
    text-align: center;
    background: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    box-shadow: 2px 2px 8px var(--primary-color-shadow);
}

.btnHalf{
    width: calc(50% - 4px);
    max-width: calc(640px / 2);
}

.btnFull{
    width: calc(100% - 4px);
    max-width: calc(640px);
}

.pacBtn:hover{
    color: var(--secondary-color);
    background: var(--primary-color-hover);
}

.techImg{
    margin-top: 5px;
    font-size: 80px;
    display: inline-block;
}

.techPanel{
    display: inline-block;
}


.descrPanel{
    border: solid 2px var(--secondary-color);
    border-radius: 15px;
    width: calc(100% - 60px);
    margin: 10px auto;
    clear: both;
    text-align: left;

}

.descrHeader{
    padding-left: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    border-bottom: 2px solid var(--secondary-color);
}


#navBar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: var(--primary-color);
    border-bottom: var(--secondary-color) 1px solid;
}

.linkWrap{
    margin: 15px 0;
}

.navLink{
    font-size: 20px;
    margin: 0 20px;
    color: var(--secondary-color);
}

.navLink:hover{
    border-bottom: 1px solid var(--secondary-color);
}

.navSelected{
    border-bottom: 1px solid var(--secondary-color);
}

.sideBtn{
    height: calc(100% - 50px);
    width: 30px;
    background: none;
    color: var(--primary-color);
    font-size: 60px;
    padding: 0px;
    border: none;
    outline: none;
}

#leftBtn{
    position: fixed;
    top: 50px;
    left: 0px;
}

#rightBtn{
    position: fixed;
    top: 50px;
    right: 0px;
}

#name{
    font-size: 100px;
    margin: 0 auto;
    margin-top: calc(100vh*.2);
    width: 100%;
    text-align: center;
}

#title{
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
    font-size: 50px;
    text-align: center;
}

#colorSwap{
    font-size: 25px;
    color: var(--primary-color);
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
    font-weight: bold;
    margin-top: 100px;
    width: 280px;
    min-width: 0px;
}

.colorIcon{
    margin: 5px;
    width: calc(70px - 10px - 2px - 10px);
    height: calc(70px - 10px - 2px - 10px);
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

#orange{
    background-color: rgb(204, 82, 0);
}

#brown{
    background-color: rgb(147, 108, 57);
}

#red{
    background-color: rgb(140, 0, 0);
}

#green{
    background-color: rgb(30, 123, 30);
}

#blue{
    background-color: rgb(57, 106, 147);
}

#black{
    background-color: rgb(38, 38, 38);
}

#purple{
    background-color: rgb(72, 21, 123);
}

#teal{
    background-color: rgb(0, 204, 163);
}

@media screen and (max-width: 1000px){
    ::-webkit-scrollbar{
        width: 5px;
    }

    #name{
        font-size: 70px;
    }

    #title{
        font-size: 35px;
    }

    .pacHalf{
        margin: 20px;
        width: calc(100% - 40px);
        float: none;
    }

    .techImg{
        font-size: 80px;
    }

    .pacFull{
        margin: 0 auto;
        margin-top: 15px;
        width: calc(100% - 40px);
    }

    .descrPanel{
        width: calc(100% - 90px);
    }
}

@media screen and (max-width: 900px){
    .techImg{
        font-size: 70px;
    }
}

@media screen and (max-width: 600px){
    ::-webkit-scrollbar{
        width: 0px;
    }

    #name{
        font-size: 50px;
        width: 100%;
    }

    #title{
        font-size: 25px;
    }

    .sectionHeader{
        font-size: 40px;
    }

    .secContent{
        width: calc(100vw - 100px);
        min-width: 0;
        margin: 20px auto;
    }

    .secContentHeader{
        font-size: 30px; 
    }

    .imgPanel{
        margin: 0px;
    }

    .techImg{
        font-size: 50px;
    }

    .techPanel{
        width: 100%;
        margin-top: 0px;
    }

    .navLink{
        font-size: 20px;
        margin: 0 10px;
    }

    #colorSwap{
        font-size: 15px;
        width: 200px;
    }

    .colorIcon{
        width: calc(50px - 10px - 2px - 5px);
        height: calc(50px - 10px - 2px - 5px);
    }

    .pacHalf{
        width: calc(100% - 20px);
        margin: 10px;
    }

    .pacFull{
        width: calc(100% - 20px);
        margin: 10px;
    }

    .descrPanel{
        width: calc(100% - 30px);
    }
}